<% if controller.action_name != "show" %>
  <div id="<%= dom_id post %>">
    <div class="card post_content mb-3">
      <% post.content.embeds.first(1).each do |img| %>
        <%= image_tag img.blob, class: "card-img-top post_featured_image" %>
      <% end %>
      <div class="card-body">
        <small class="text-muted"><%= post.updated_at.strftime("%a %b %d, %Y") %></small>
        <h2 class="card-title"><%= post.title %></h2>
        <p>
          <small class="fw-light">by</small>
          <strong><%= post.user.username %></strong>
        </p>
        <p class="card-text mb-3"><%= post.content_joined_text %></p>
        <%= link_to "Read more", post_path(post), class: "btn btn-primary" %>
      </div>
    </div>
  <% else %>
    <%= post.content %>
  </div>
<% end %>
