<div class="post_content">
  <div id="<%= dom_id post %>">
    <h2><%= post.title if current_page?(posts_path) %></h2>

    <p>
      <small>by</small>
      <strong><%= post.user.username %></strong>
      <span class="fw-light mx-1">—</span>
      <small><%= post.updated_at.strftime("%a %b %d, %Y") %></small>
    </p>

    <p>
      <% if controller.action_name != "show" %>
        <p>
          <% post.content.embeds.first(3).each do |img| %>
            <%= image_tag img.blob, class: "post_image" %>
          <% end %>

          <p>
            <%= post.content_joined_text %>
            <%# <%= strip_tags(post.content.to_trix_html) %1> %>
          </p>
        </p>

      <% else %>
        <%= post.content %>
      <% end %>
    </p>
  </div>
</div>
