<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center mt-3">
    <h1 class="display-5 font-monospace mb-3 fw-bold">
      <%= @post.title %>
    </h1>

    <% if current_user&.admin? %>
      <div>
        <%= link_to "Edit", edit_post_path(@post),
          class: "btn btn-primary"
        %>
        <%= link_to "Delete", @post, data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }, class: "btn btn-danger"
        %>
      <% end %>
    </div>
  </div>

  <%= render @post %>

  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
</div>
