<div class="d-flex flex-column">

  <div class="profile">
    <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
    <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>
    <div class="social-links mt-3 text-center">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>

  <nav id="navbar" class="nav-menu navbar">
    <ul>
      <li>
        <%= active_link_to root_path do %>
          <i class="bx bx-home"></i> <span>Home</span>
        <% end %>
      </li>
      <li>
        <%# <%= active_link_to "#{request.base_url}#about" do %1> %>
        <%= active_link_to about_path do %>
          <i class="bx bx-user"></i> <span>About</span>
        <% end %>
      </li>
      <li>
        <%= active_link_to posts_path do %>
          <i class="bx bx-edit"></i> <span>Blogs</span>
        <% end %>
      </li>
      <li>
        <%# <%= active_link_to "#{request.base_url}#resume" do %1> %>
        <%= active_link_to resume_path do %>
          <i class="bx bx-file-blank"></i> <span>Resume</span>
        <% end %>
      </li>
      <li>
        <%# <%= active_link_to "#{request.base_url}#portfolio" do %1> %>
        <%= active_link_to portfolio_path do %>
          <i class="bx bx-book-content"></i> <span>Portfolio</span>
        <% end %>
      </li>
      <li>
        <%# <%= active_link_to "#{request.base_url}#services" do %1> %>
        <%= active_link_to services_path do %>
          <i class="bx bx-server"></i> <span>Services</span>
        <% end %>
      </li>
      <li>
        <%# <%= active_link_to "#{request.base_url}#contact" do %1> %>
        <%= active_link_to contact_path do %>
          <i class="bx bx-envelope"></i> <span>Contact</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
