<!DOCTYPE html>
<html>
  <head>
    <title>EkklesiaChurch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://bit.ly/3KGxjn0" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <header id="header">
      <%= render "layouts/header" %>
    </header>

    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <%= render "layouts/hero" %>
    </section>

    <main id="main">
      <%= render "layouts/sections/about" %>
      <%= render "layouts/sections/facts" %>
      <%= render "layouts/sections/skills" %>
      <%= render "layouts/sections/resume" %>
      <%= render "layouts/sections/portfolio" %>
      <%= render "layouts/sections/services" %>
      <%= render "layouts/sections/testimonials" %>
      <%= render "layouts/sections/contact" %>
    </main>

    <footer id="footer">
      <%= render "layouts/footer" %>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <%= javascript_include_tag "main.js", "data-turbolinks-track": true  %>
  </body>
</html>
